<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    {#
    <div id="wrapper">
        {<header>
            <h1>Flask Playground!</h1>
        </header>
        <main id="mainContent">
                {% for y in range(times) %}
                    {% if y % 2 != 0 %}
                        <div id="boxContainer">
                            {% for i in sequence %}
                                {% if sequence[i] % 2 == 0 %}
                                    <div class="box_1"></div>
                                {% else %}
                                    <div class="box_2"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div id="boxContainer">
                            {% for i in sequence %}
                                {% if sequence[i] % 2 == 0 %}
                                    <div class="box_2"></div>
                                {% else %}
                                    <div class="box_1"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
        </main>
    </div>      
    #}
    <div id="wrapper">
        <header>
            <h1>Flask Playground!</h1>
        </header>
        <main id="mainContent">
            {% for y in range(times) %}
                    <div id="boxContainer">
                        {% for i in range(sequence) %}
                            <div class="box_{{ (i+y)%2+1 }}"></div>
                        {% endfor %}
                    </div>
            {% endfor %}
        </main>
    </div>
</body>
</html>